body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #020617, #0f172a);
  color: #f1f5f9;
}

html {
  scroll-behavior: smooth;
}

/* Sections */
section {
  padding: 50px 20px;
  max-width: 1000px;
  margin: auto;
}

/* Headings */
h1 {
  font-size: 40px;
  color: #38bdf8;
}
.profiles-container {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: auto;
}

.left, .right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.profile-item {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}
h2 {
  color: #6366f1;
}

/* Text */
p {
  color: #cbd5e1;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #020617;
  border-bottom: 1px solid #1e293b;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  border-top: 1px solid #1e293b;
}

/* Links */
a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #6366f1;
}

/* Project section */
.project-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.project-card {
  background: #0f172a;
  padding: 20px;
  width: 260px;
  border-radius: 12px;
  text-align: center;
  border: 1px solid #1e293b;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.project-card h3 {
  color: #38bdf8;
}

.project-card p {
  font-size: 14px;
}

.project-card a {
  display: inline-block;
  margin-top: 12px;
  padding: 8px 14px;
  background: #6366f1;
  color: white;
  border-radius: 6px;
}

.project-card a:hover {
  background: #4f46e5;
}

/* Skills */
.skills-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.skill-card {
  text-align: center;
  padding: 20px;
  background: #0f172a;
  border-radius: 12px;
  width: 120px;
  border: 1px solid #1e293b;
}#contact {
  text-align: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;   /* 🔥 centers horizontally */
  justify-content: center;
  margin-top: 20px;
}

.email-link {
  margin-top: 10px;
  font-size: 18px;
  color: #38bdf8;
  text-decoration: none;
}

.email-link:hover {
  color: #6366f1;
}